.wagons {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2,200px);
  gap: 50px 30px;
  margin: 50px auto;
  list-style: none;
}

@media (max-width: 600px) {
  .wagons {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 10px;
    margin: 50px auto;
  }
}

.selectSeat {
  text-align: center;
  color: #bbb;
  font-size: 25px;
  font-weight: 700;
}

.wagonsWrapper {
  width: fit-content;
  margin: auto;
}

@media (max-width: 600px) {
  .wagonsWrapper {
    width: 95%;
  }
}

.wagonsFilters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: #fff;
}

.minimumSeatsWrapper > * {
  display: block;
}

.minimumSeats {
  width: 50px;
  font-size: 25px;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.wagonTypeSelector {
  padding: 5px;
  font-family: 'Glory', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  outline: none;
  cursor: pointer;
}

.routerLink {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  font-size: 25px;
}

.routerLink:hover {
  background-color: rgb(31, 31, 155);
  color: #fff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.trainsLink {
  width: 220px;
  margin: auto;
  text-align: center;
}
