* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0cbaba;
  background: linear-gradient(0deg, #0cbaba 0%, #2f4f94 80%) center center/cover no-repeat;
  font-family: 'Glory', sans-serif;
}
